<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kalenteri</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script>
      src = "https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/locales-all.js";
    </script>
  </head>
  <body>
    <div id="calendar"></div>
    <script>
      let calendarEl = document.getElementById("calendar");

      let calendar = new FullCalendar.Calendar(calendarEl, {
        // events : [
        //             {% for tapahtuma in tapahtumat %}
        //             {
        //                         title : '{{tapahtuma.title}}',
        //                         start : '{{tapahtuma.start}}',
        //                     },
        //             {% endfor %}
        //         ],
        events: "/kalenteri",
        locale: "fi",
        headerToolbar: {
          left: "prev,next today",
          center: "title",
          right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth",
        },
        buttonText: {
          today: "tänään",
          month: "kuukausi",
          week: "viikko",
          day: "päivä",
          list: "lista",
        },
        timeZone: "Europe/Helsinki",
        firstDay: 1,
      });

      calendar.render();
    </script>
  </body>
</html>
